In [ ]:
!pip install otter-grader==1.1.6

from google.colab import drive

drive.mount('/content/gdrive')

%cd /content/gdrive/MyDrive/ITEC419-fa22/hw/hw01

In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook()

# Homework 01: Basics of Python

This document is a modified version of Lab01 and Lab02 at Data 8 of UC Berkeley.
본 자료는 UC Berkeley의 Data 8의 Lab01과 Lab02를 수정하여 HW01로 만들었습니다.

각 제공된 셀을 채워서 숙제를 완성하기 바랍니다. 항상 테스트할 때는 위의 셀들을 모두 실행하여 미리 제공된 테스트 데이터를 로드한 이후에 진행하기 바랍니다.

**본 과제를 수행하기 위해 필요한 참조 사이트:**
- [Python Reference](http://data8.org/sp22/python-reference.html): 본 과제에서 사용하는 파이썬의 배열 및 테이블 메소드에 대한 요약 표

여러분은 모든 문제에 대해서는 적절한 위치에 설명과 답변을 제시해야 합니다. **본 숙제에서 제공되는 셀에서 정의한 변수들은 절때 값을 변경하면 안됩니다.** 예를 들어, `max_temperature`에 대한 값을 구해야 할 경우에, 해당 질문에 제대로 답을 구했더라도 추후에 이 변수를 수정하면 검사에서 틀린 것으로 체크될 것입니다.

**숙제 기한:**

이 숙제의 기한은 **9월 18일(일) 밤 11시 59분까지**입니다. 9월 15일(목) 밤 11시 59분 이전에 제출할 경우에는 5점의 가점이 부여됩니다. **기한이 지난 이후에는 받지 않습니다.**

**Note:** 이 숙제에는 숨어있는 검사가 있습니다. 이는 모든 검사에서 통과되었더라도 최종 점수가 100%라는 것을 의미하지 않는다는 것입니다. 여러분이 제출한 숙제에 대하여 정답인지를 확인하기 위해서 추가적인 데이터로 검사를 진행합니다.

여러분의 답을 다른 학생과 직접적으로 공유하는 것은 허용하지 않습니다. 다만, 조교와 혹은 다른 학생들과 문제에 대하여 논의하는 것은 장려합니다. 서로 협력한 부분에 대해서는 해당 부분에 꼭 명기를 하기 바랍니다.

모든 숙제는 최대한 빠른 시일내에 시작해야 문제가 봉착되었을 때 도움을 받을 수 있는 충분한 시간을 확보할 수 있을 것입니다. 모든 질의는 LMS 시스템의 문의 게시판을 이용하고 개인적인 이메일에는 대응하지 않습니다.

# 1. Numbers

양적 정보는 데이터 과학의 모든 곳에서 발생합니다. 줄을 출력하는 명령을 나타내는 것 외에도, 표현식은 숫자와 숫자를 결합하는 방법을 나타낼 수 있습니다. `3.2500`이라는 표현은 3.25라는 숫자로 평가됩니다. 아래의 셀을 실행해보기 바랍니다.

In [ ]:
3.2500

여기서 `print`가 필요없다는 것을 주목해야 합니다. 노트북 셀을 실행할 때 마지막 줄에 값이 있으면 구글 코랩은 해당 값을 출력합니다. 그러나 이전 줄은 자동으로 출력되지 않습니다.

In [ ]:
print(2)
3
4

위에서 4는 마지막 식의 값이고, 2는 출력되지만, 3은 print되지 않았거나 마지막이 아니었기 때문에 영원히 손실된다는 것을 알 수 있습니다.

어쨌든 항상 모든 것을 출력하고 싶은 것은 아닙니다. 하지만 3이 아쉬우면 위의 셀을 바꿔서 출력하면 됩니다.

## 1.1. Arithmetic
다음 셀의 첫 줄은 뺄셈을 합니다. 그 값은 쉽게 추측할 수 있을 것입니다. 실행해보기 바랍니다.

In [ ]:
3.25 - 1.5

파이썬에는 많은 기본 산술 연산이 내장되어 있습니다. 교재의 [Expressions](http://www.inferentialthinking.com/chapters/03/1/expressions.html) 섹션에서는 본 수업에서 사용되는 모든 산술 연산자를 설명합니다. 일반적인 수학 표기법과 다른 연산자로는 `**`이 사용됩니다. 이는 한 숫자를 다른 숫자의 거듭제곱을 계산할 때 사용합니다. 따라서 `2**3`은 $2^3$을 의미하며, 8로 계산됩니다.

연산의 순서는 초등학교 때 배운것과 같고, 파이썬에도 괄호가 사용됩니다. 예를 들어, 아래의 셀에 대한 출력을 비교해보기 바랍니다. 두 번째 셀은 이번 연도의 결과를 도출하기 위해 괄호를 사용합니다.

In [ ]:
3+6*5-6*3**2*2**3/4*7

In [ ]:
6+(6*5-(6*3))**2*((2**3)/4*7)

표준 수학 표기법으로 보면, 첫 번째 식은 다음과 같습니다.

$$3 + 6 \times 5 - 6 \times 3^2 \times \frac{2^3}{4} \times 7,$$

두 번째 식은 다음과 같습니다.

$$6 + (6 \times 5 - (6 \times 3))^2 \times (\frac{(2^3)}{4} \times 7).$$

**Question 1.1.1.** 다음 셀에 $5 \times (3 \frac{10}{11}) - 50 \frac{1}{3} + 2^{.5 \times 22} - \frac{7}{33} + 5$와 동일한 파이썬 수식을 작성하십시오. 그것은 5 곱하기 3과 11분의 10에서, 50과 3분의 1을 빼고, 2의 22의 반의 거듭제곱을 더하며, 33 분의 7을 빼고, 마지막으로 5를 더합니다. "$3 \frac{10}{11}$"은 $3 \times \frac{10}{11}$이 아니라 $3+\frac{10}{11}$을 의미합니다.

앞으로 문제를 해결할 때에는 아래의 셀에서 줄임표(`...`)로 표기된 부분을 파이썬 코드로 대체하면 됩니다. 이 문제에서는 필요한 경우에만 괄호를 사용하기 바랍니다.

*Hint:* 올바른 출력은 익숙한 숫자로 시작해야 합니다.

In [ ]:
...

# 2. Names
자연어에는 매우 복잡한 개념을 빠르게 참조할 수 있는 용어가 있습니다. 우리는 "저것은 갈색 털과 날카로운 이빨을 가진 큰 포유동물입니다!"라고 말하지 않습니다. 대신, 우리는 그냥 "곰!"이라고 말합니다.

파이썬에서는 *배정문(assignment statment)*을 사용하여 이 작업을 수행합니다. 배정문은 `=` 기호의 왼쪽에 이름이 있고, 오른쪽에 평가할 식이 있습니다.

In [ ]:
ten = 3 * 2 + 4

여러분이 위의 셀을 실행하면, 파이썬은 먼저 오른쪽의 수식인 `3 * 2 + 4`를 계산하여 숫자 10을 계산합니다. 그런 다음 이 값을 `ten`이라는 이름에 할당합니다. 이 시점에서 셀의 코드는 실행이 완료됩니다.

해당 셀을 실행한 후 값 10은 이름 `ten`에 바인딩됩니다:

In [ ]:
ten

`ten = 3 * 2 + 4`이라는 문장은 수학 표기법에서 유추하여 예상할 수 있듯이 `ten`이 `3 * 2 + 4`와 같다는 것을 의미하는 것이 아니고, 해당 코드에 의해 `ten`의 값이 10으로 바뀐다는 것을 의미합니다.

**Question 2.1.1.** 값이 배정되지 않은 이름 (예를 들면 `eleven`)을 사용하여 코드를 작성해봅니다. 아마도 여러분은 오류를 보게 될 것입니다!

In [ ]:
# Replace the following ... with eleven + 1
...

쥬피터 노트북에서 일반적인 패턴은 이름에 값을 할당한 다음, 셀의 마지막 줄에 있는 이름을 즉시 평가하여 값을 화면에 출력하는 것입니다.

In [ ]:
close_to_pi = 355/113
close_to_pi

또 다른 일반적인 패턴은 단일 셀에 있는 일련의 코드 줄은 중간 결과를 이름으로 저장하여 단계별로 복잡한 계산을 수행합니다.

In [ ]:
semimonthly_salary = 841.25
monthly_salary = 2 * semimonthly_salary
number_of_months_in_a_year = 12
yearly_salary = number_of_months_in_a_year * monthly_salary
yearly_salary

파이썬에서 이름은 문자(대문자와 소문자 모두 괜찮고, 대소문자는 서로 다른 글자로 인식됩니다.), 밑줄 및 숫자를 포함할 수 있습니다. 첫번째 문자는 숫자일 수 없습니다. (그렇지 않으면 이름이 숫자처럼 보일 수 있습니다.) 그리고 이름에는 공백을 포함할 수 없습니다. 공백은 코드 조각을 서로 분리하는데 사용되기 때문입니다.

이러한 규칙 외에는 파이썬에서 여러분이 어떤 이름을 붙이는 지는 중요하지 않습니다. 예를 들어, 이 셀은 모든 것이 다른 이름을 가지고 있다는 점을 제외하고 위의 셀과 동일한 작업을 수행합니다.

In [ ]:
a = 841.25
b = 2 * a
c = 12
d = c * b
d

**하지만**, 이름은 자신과 다른 사람이 여러분의 코드를 *읽을 수* 있도록 하기 때문에 매우 중요합니다. 바로 위의 셀은 코드가 더 짧지만, 무엇을 하는지 추가적인 설명이 없다면 전혀 알 수 없는 코드입니다.

## 2.1. Checking your code
이제 이름을 지정하는 방법을 알게 되었으므로 내장된 *tests*를 사용하여 여러분의 코드가 맞는지를 체크할 수 있습니다. 때로는 한 문항에 대해 여러 항목을 테스트하게 되는데, 해당 문항의 점수를 받을려면 모든 검사를 통과하여야 합니다. 테스트 셀의 내용은 절대 변경하지 마십시오.

Quesion 2.1.2를 시도해 보기 바랍니다. 셀을 실행한 직후에 `seconds_in_a_decade`에 값이 올바르게 저장되어 있는지를 검사하게 됩니다. 만약 틀린 경우에는 테스트를 통해 정답을 알 수 있습니다. 그냥 복사하지 말고 수식을 직접 수정해가면서 문제를 해결해야 배울 수 있습니다. (때로는 무엇이 틀렸는지 힌트를 줄 것입니다...)

**Question 2.1.2.** `seconds_in_a_decade`에 2010년 1월 1일 자정부터 2020년 1월 1일 자정까지의 시간(초)를 저장합니다. 10년의 이 기간에는 두 번의 윤년이 있다는 것에 유의하십시오. 윤년이 아닌 해는 일년이 365일이고, 윤년은 366일입니다.

*Hint:* 만약 문제를 풀면서 막힐 경우에는 다음 섹션에서 힌트를 언는 방법을 보여줍니다.

<!--
BEGIN QUESTION
name: q2_1_2
-->

In [ ]:
# Change the next line 
# so that it computes the number of seconds in a decade 
# and assigns that number the name, seconds_in_a_decade.

seconds_in_a_decade = ...

# We've put this line in this cell 
# so that it will print the value you've given to seconds_in_a_decade when you run it.  
# You don't need to change this.
seconds_in_a_decade

In [ ]:
grader.check("q2_1_2")

## 2.2. Comments
Question 2.1.2.에 대한 답변 셀에서 다음과 같은 줄을 본 적이 있을 것입니다:

    # Change the next line 
    # so that it computes the number of seconds in a decade 
    # and assigns that number the name, seconds_in_a_decade.
    
이를 *주석(comment)*이라고 합니다. 파이썬에서는 아무 일도 일어나지 않는 코드입니다; 파이썬은 `#` 이후의 해당 줄의 모든 것을 무시합니다. 대신 그것은 코드를 읽는 사람들에게 코드에 대한 무언가를 전달하기 위한 것이며, 주석은 매우 유용합니다.


<img src="http://imgs.xkcd.com/comics/future_self.png">
Source: http://imgs.xkcd.com/comics/future_self.png

## 2.3. Application: A physics experiment

아폴로 15호의 달 탐사 임무에서, 우주 비행사 데이비드 스콧은 중력이 같은 속도로 다른 질량의 물체를 가속시킨다는 갈릴레오의 물리 실험을 재현한 것으로 유명합니다. 달 표면에는 낙하하는 물체에 대한 공기 저항이 없기 때문에 질량과 밀도가 매우 다른 물체라도 같은 속도로 낙하해야 합니다. 데이비드 스콧은 깃털과 망치를 비교하였습니다.

다음 셀을 실행하여 실험 동영상을 볼 수 있습니다.

In [ ]:
from IPython.display import YouTubeVideo
# The original URL is: 
# https://www.youtube.com/watch?v=U7db6ZeLR5s

YouTubeVideo("U7db6ZeLR5s")

동영상의 녹취록의 한글 번역본은 다음과 같습니다:

**167:22:06 스콧**: 음, 제 왼손에는 깃털이 있고, 오른손에는 망치가 있습니다. 그리고 오늘 우리가 여기에 온 이유 중 하나는 아주 오래 전에 갈릴레오라는 이름의 신사 덕분이라고 생각합니다. 그는 중력장에서 떨어지는 물체에 대해 상당히 중요한 발견을 했습니다. 그리고 우리는 그의 발견을 확인할 수 있는 곳이 달보다 더 좋은 곳이 어디있을까 라고 생각했습니다. 그래서 우리는 여러분을 위해 여기서 시도해 보려고 했습니다. 이 깃털은 매의 깃털입니다. 그리고 제가 두 물건을 여기서 떨어뜨리고, 바라건대, 그들이 동시에 땅에 떨어지기를 바랍니다.

**167:22:43 스콧**: 어때요!

**167:22:45 알렌**: 어때요! (휴스톤에서의 박수)

**167:22:46 스콧**: 갈릴레오의 발견이 옳았다는 것을 증명합니다.

**Newton's Law.** 이 영상으로부터 우리는 물리학에서 또다른 유명한 부분을 확인할 수도 있습니다: 뉴턴의 만유인력의 법칙입니다. 뉴턴의 법칙은 달의 표면 근처에 놓여지는 모든 물체는 $t$초 이후에 아래의 수식 만큼 떨어져야 한다고 예측합니다:

$$\frac{1}{2} G \frac{M}{R^2} t^2 \text{ meters}$$

여기서 $G$는 보편 상수이고, $M$은 달의 질량(Kg), $R$은 달의 반지름(미터)입니다. 그래서 만약 우리가 $G$, $M$, $R$를 안다면, 뉴턴의 법칙은 어떤 물체가 어떤 시간 동안 얼마나 멀리 떨어질지 예측할 수 있게 해줍니다.

이 법칙의 정확성을 검증하기 위해, 우리는 해머가 떨어지는 예측 거리와 실제 거리 사이의 차이를 계산할 것입니다. (만약 그것들이 다르다면, 그것은 뉴턴의 법칙이 틀렸거나, 우리의 측정이 부정확하거나, 우리가 설명하지 않은 망치에 영향을 미치는 다른 요소들이 있기 때문일 것입니다.)

누군가가 그 비디오를 연구했고 그 망치가 표면에서 113cm 떨어진 것으로 추정했습니다. 비디오에서 프레임을 세면 망치가 1.2초(36프레임) 동안 떨어집니다.

**Question 2.3.1.** 실험으로부터 데이터를 입력하여 다음 셀의 코드를 완성하기 바랍니다.

*Hint:* 계산은 필요없습니다; 위 단락에서 설명하는 데이터를 입력하면 됩니다.

<!--
BEGIN QUESTION
name: q2_3_1
-->

In [ ]:
# t, the duration of the fall in the experiment, in seconds.
# Fill this in.
time = ...

# The estimated distance the hammer actually fell, in meters.
# Fill this in.
estimated_distance_m = ...

In [ ]:
grader.check("q2_3_1")

**Question 2.3.2.** 이제 다음 셀의 코드를 완성하여 이 실험에서 망치가 떨어진 예측 거리(미터)와 예상 거리(미터) 사이의 차이를 계산합니다.

이것은 단지 위의 공식($\frac{1}{2}G\frac{M}{R^2}t^2$)을 파이썬 코드로 변환하는 것을 의미합니다. 여러분은 수학 공식의 각 변수를 파이썬 코드에서 지정한 이름으로 바꿔야 할 것입니다.

*Hint:* 질문 2.1에서 이미 정의한 변수를 사용해 보십시오.

<!--
BEGIN QUESTION
name: q2_3_2
-->

In [ ]:
# First, we've written down the values of the 3 universal constants 
# that show up in Newton's formula.

# G, the universal constant measuring the strength of gravity.
gravity_constant = 6.674 * 10**-11 

# M, the moon's mass, in kilograms.
moon_mass_kg = 7.34767309 * 10**22 

# R, the radius of the moon, in meters.
moon_radius_m = 1.737 * 10**6 

# The distance the hammer should have fallen 
# over the duration of the fall, in meters, 
# according to Newton's law of gravity.  
# The text above describes the formula
# for this distance given by Newton's law.
# **YOU FILL THIS PART IN.**
predicted_distance_m = ...

# Here we've computed the difference 
# between the predicted fall distance and the distance we actually measured.
# If you've filled in the above code, this should just work.
difference = predicted_distance_m - estimated_distance_m
difference

In [ ]:
grader.check("q2_3_2")

# 3. Calling functions

파이썬에서 값을 결합하거나 조작하는 가장 일반적인 방법은 함수를 호출하는 것입니다. 파이썬은 일반적인 연산을 수행하는 많은 내장(빌트-인) 함수를 갖추고 있습니다.

예를 들어, `abs` 함수는 하나의 숫자를 인수로 사용하고 그 숫자의 절대값을 반환합니다. 다음 두 셀을 실행하고 결과를 이해했는지 확인합니다.

In [ ]:
abs(5)

In [ ]:
abs(-5)

## 3.1. Application: Computing walking distances
춘화는 맨해튼 미드타운의 7번가와 42번가 모퉁이에 있는데, 그녀는 10번가와 34번가 모퉁이에 있는 그래머시 학교에 가려면 얼마나 걸어야 하는지 알고 싶어 합니다.

그녀는 블록 내에는 건물들이 있기 때문에 블록 대각선으로 가로지르지 못합니다. 그녀는 보도를 따라 걸어야 합니다. 아래 지도에 따르면, 그녀는 3개의 거리(긴 블록)와 8개의 거리(짧은 블록)를 걸어야 한다는 것을 알 수 있습니다. 주어진 숫자의 관점에서, 그녀는 7과 10의 차이의 *절대값*으로서 3을 계산했고, 비슷하게 8을 계산했습니다.

춘화는 또한 맨하튼의 블록이 모두 가로 80m, 세로 274m라는 것을 알고 있습니다. 그래서 그녀는 공원에 가기 위해 총 $(80 \times | 42 - 34 | + 274 \times | 7 - 10 |)$미터를 걸어야 합니다.

![](https://drive.google.com/uc?export=view&id=15gUNk1KhWP3wEN3D8jeAZpeaUNMfy5b5)

**Question 3.1.** 다음 셀의 `num_avenues_away = ...` 줄을 적절히 수정하시오. 그리고 춘화가 걸어야 할 거리를 계산하 `manhattan_distance`에 저장합니다. 다른 부분은 이미 모두 채워져 있습니다. **`abs`함수를 사용합니다.** 또한, 테스트 셀을 실행하여 여러분의 코드를 테스트합니다. 

<!--
BEGIN QUESTION
name: q3_1
-->

In [ ]:
# Here's the number of streets away:
num_streets_away = abs(42-34)

# Compute the number of avenues away in a similar way:
num_avenues_away = ...

street_length_m = 80
avenue_length_m = 274

# Now we compute the total distance Chunhua must walk.
manhattan_distance = street_length_m*num_streets_away + avenue_length_m*num_avenues_away

# We've included this line so that you see the distance you've computed 
# when you run this cell.  
# You don't need to change it, but you can if you want.
manhattan_distance

In [ ]:
grader.check("q3_1")

##### Multiple arguments
어떤 함수들은 여러 인수를 쉼표로 구분하여 사용합니다. 예를 들어, 내장 함수인 `max`는 전달된 최대 인수를 반환합니다.

In [ ]:
max(2, -3, 4, -5)

## 3.2. Understanding nested expressions
함수 호출 및 산술 식은 그 내부에 수식을 포함할 수 있습니다. 여러분은 마지막 질문에서 예를 보았습니다:

    abs(42-34)

여기에는 함수 호출 식에서 두 개의 숫자의 뺄셈 식이 있습니다. 그리고 아마도 `num_avenues_away`를 계산하기 위해 `abs(7-10)` 같은 수식을 작성하였을 것입니다.

중첩된 수식(Nested expressions)은 복잡해 보이는 코드로 보여질 수 있습니다. 하지만 복잡한 수식이 분해되는 과정은 매우 규칙적입니다.

우리가 매우 특이한 키에 관심이 있다고 가정해봅시다. 어떠한 키 값이 인간의 평균 키로 표현된 선에서 멀리 떨어져 있는 때 특이하다고 할 것입니다.
성인 평균 키의 [추정치](http://press.endocrine.org/doi/full/10.1210/jcem.86.9.7875?ck=nck&)는 1.688미터입니다.

따라서 만약 카일라의 키가 1.21미터라면, 그녀의 키는 평균으로부터 $|1.21 - 1.688|$, 즉 $.478$미터 떨어져 있다. 이를 그림으로 나타내면 다음과 같다. 

![](https://drive.google.com/uc?export=view&id=1JmXMe_I4v33Ou4hIwWa1qar7QNvVLl5D)

그리고 여기 파이썬 코드 한줄로 작성하면 다음과 같습니다:

In [ ]:
abs(1.21 - 1.688)

여기서 무슨 일이 일어나고 있는 걸까요? `abs`는 단지 하나의 인자만을 받으며, 괄호 안에 있는 것은 *단일 인자*입니다. 구체적으로 이야기하면, 해당 인자는 수식 `1.21 - 1.688`의 값입니다. 그 식의 값은 `-.478`입니다. 그 값은 `abs`의 인자입니다. 그 값의 절대값은 `.478`이므로, `.478`이 전체 수식 `abs(1.21 - 1.688)`의 값이 됩니다.

다음의 여러 단계를 통해 수식을 단순화하는 그림:

1. `abs(1.21 - 1.688)`
2. `abs(-.478)`
3. `.478`

사실, 그것은 기본적으로 파이썬이 수식의 값을 계산하기 위해 하는 일입니다.

**Question 3.2.** 가령 파올라의 키가 1.76미터라고 가정해봅시다. 다음 셀에서는 `abs`를 사용하여 파올라의 키와 성인 평균 키와의 차이를 계산합니다. 이 값을 `paola_distance_from_average_m`에 저장합니다.

![](https://drive.google.com/uc?export=view&id=1nn8sfLbQEb2PWl6Wj9-NaUegA5VRDdS5)

<!--
BEGIN QUESTION
name: q3_2
-->

In [ ]:
# Replace the ... with an expression 
# to compute the absolute value 
# of the difference between Paola's height (1.76m) and the average human height.
paola_distance_from_average_m = ...

# Again, we've written this here 
# so that the distance you compute will get printed 
# when you run this cell.
paola_distance_from_average_m

In [ ]:
grader.check("q3_2")

## 3.3. More nesting
이제 우리는 두 키 중 더 특이한 것을 계산하고 싶다고 해봅시다. 우리는 (다시) 두 숫자를 인수로 사용하고 두 인수 중 더 큰 값을 반환하는 함수 `max`를 사용할 것입니다. 이를 `abs` 함수와 결합하면 두 키 중 평균으로부터 더 큰 거리를 계산할 수 있습니다:

In [ ]:
# Just read and run this cell.

kayla_height_m = 1.21
paola_height_m = 1.76
average_adult_height_m = 1.688

# The larger distance from the average human height, among the two heights:
larger_distance_m = max(abs(kayla_height_m - average_adult_height_m), abs(paola_height_m - average_adult_height_m))

# Print out our results in a nice readable format:
print("The larger distance from the average height among these two people is", larger_distance_m, "meters.")

The larger distance from the average height among these two people is 0.478 meters.

`larger_distance_m`이 계산되는 줄에 꽤냐 복잡해 보입니다만, 이전과 마찬가지로 좀 더 간단한 요소로 나눌 수가 있습니다.

기본 방법은 수식의 작은 부분을 반복적으로 단순화하는 것입니다:

* **기본 수식:** 이름이나 숫자와 같이 값을 알고 있는 수식으로부터 시작합니다.
    - 예제: `paola_height_m` 혹은 `5`.
* **수식의 다음으로 가장 간단한 그룹 찾기:**
서로 직접 연결된 기본 수식을 찾습니다. 이는 산술식 혹은 함수 호출에 대한 인수로 사용될 수 있습니다.
    - 예제: `kayla_height_m - average_adult_height_m`.
* **해당 그룹의 평가:** 그 산술식 또는 함수 호출을 평가합니다. 계산된 값을 사용하여 수식의 해당 그룹을 값으로 대체합니다.
    - 예제: `kayla_height_m - average_adult_height_m`는 `-.478`이 됩니다.
* **반복:** 이전에 평가한 수식의 값을 새로운 기본 수식으로 사용하여 이 과정을 계속합니다. 전체 수식을 모두 평가하였을 때 중지합니다.
    - 예제: `abs(-.478)`은 `.478`이 되고, `max(.478, .072)`는 `.478`이 됩니다.

다음 셀을 실행하여 해당 프로세스의 슬라아드 쇼를 볼 수 있습니다.

In [ ]:
from IPython.display import IFrame
IFrame('https://docs.google.com/presentation/d/e/2PACX-1vTiIUOa9tP4pHPesrI8p2TCp8WCOJtTb3usOacQFPfkEfvQMmX-JYEW3OnBoTmQEJWAHdBP6Mvp053G/embed?start=false&loop=false&delayms=3000', 800, 600)

좋아요. 이제 여러분의 차례입니다.

**Question 3.3.** Golden State Warriors 소속 선수들의 키가 주어졌을 때, 세 개의 키 중 가장 작은 차이를 계산하는 수식을 작성합니다. 수식에는 어떠한 숫자든 들어가면 안되며, 단지 함수 호출과 `klay`, `steph`, `dangelo`의 이름만 가질 수 있습니다. 수식의 값은 `min_height_difference`에 저장합니다.

<!--
BEGIN QUESTION
name: q3_3
-->

In [ ]:
# The three players' heights, in meters:
klay =  2.01 # Klay Thompson is 6'7"
steph = 1.91 # Steph Curry is 6'3"
dangelo = 1.95 # D'Angelo Russell is 6'5"
             
# We'd like to look at all 3 pairs of heights, 
# compute the absolute difference between each pair, 
# and then find the smallest of those 3 absolute differences.  
# This is left to you!  
# If you're stuck, try computing the value for each step of the process 
# (like the difference between Klay's heigh and Steph's height) 
# on a separate line and giving it a name (like klay_steph_height_diff)6
min_height_difference = ...
min_height_difference

In [ ]:
grader.check("q3_3")

숙제 01이 완료되었습니다! 테스트를 실행하고 모두 통과했는지 확인한 다음 **File** 메뉴에서 **Save and pin revision**을 선택한 다음 **마지막 셀을 실행**하여 숙제를 제출합니다. 만약 여러분이 여러번 제출할 경우에는 마지막으로 제출된 것만을 고려할 것입니다.

---

여러분의 숙제를 재확인하기 위해 아래의 셀은 자동 채점을 모두 재실행할 것입니다.

In [ ]:
grader.check_all()

## Submission

아래 셀을 실행하기 전에 노트북의 모든 셀을 순서대로 실행했는지 확인하여 모든 이미지/그래프가 출력에 나타나도록 하십시오. 아래 셀은 제출할 zip 파일을 생성합니다. **내보내기 전에 저장하십시오!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False)

구글 코랩에서 grader 현재 버전은 **위의 zip 파일 링크가 작동되지 않고**, 현재 디렉토리(구글 드라이브의 .../hw/hw01/) 내에 hw01.zip으로 저장되어 있습니다. 따라서 해당 **zip 파일을 LMS에 제출**하면 됩니다.